{% extends 'layout.html' %}
{% block title %}Routes{% endblock %}
{% block content %}
<!-- Routes-->
<section class="page-section" id="services">
  <div class="container px-4 px-lg-5">
    <h2 class="text-center mt-0">Rutas disponibles</h2>
    <hr class="divider" />
    <div class="row gx-4 gx-lg-5">
      <div class="col-lg-3 col-md-6 text-center my-2">origen - destino</div>
      <div class="col-lg-3 col-md-6 text-center my-2">origen - destino</div>
      <div class="col-lg-3 col-md-6 text-center my-2">origen - destino</div>
      <div class="col-lg-3 col-md-6 text-center my-2">origen - destino</div>
    </div>
  </div>
</section>
<!-- Call to action-->
<section class="page-section bg-dark text-white">
  <div class="container px-4 px-lg-5 text-center">
    <h2 class="mb-4">Los tiquetes más baratos que encontrarás!</h2>
    <a class="btn btn-light btn-xl" href="/buy-tickets">Compralos ahora!</a>
  </div>
</section>
{% endblock content %}
