{% extends 'layout.html' %} {% block title %}Tickets{% endblock %} {% block
content %}
<!-- Tickets-->
<section class="page-section" id="services">
  <div class="container px-4 px-lg-5">
    <h2 class="text-center mt-0">Tickets</h2>
    <hr class="divider" />
    <div class="row gx-4 gx-lg-5">
      <table id="userTable" class="table table-hover">
        <thead class="table-primary bg-opacity-50">
            <tr>
                <th>ID</th>
                <th>Origen</th>
                <th>Destino</th>
            </tr>
        </thead>
        <tbody>
            {% %}
                <tr>
                    <td>${user.id}</td>
                    <td><img class="card-img-top rounded-circle" src='<c:url value="${user.photo}"></c:url>'  alt="User photo" style="width: 80px; height: 100%"/></td>
                    <td>${user.name}</td>
                    <td>${user.document}</td>
                    <td>${user.phoneNumber}</td>
                    <td>${user.email}</td>
                    <td>
                        <div class="row p-0">
                            <script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>
                            <a class="btn btn-success col mx-1" href="form_user.htm?id=${user.id}&old_photo=${user.old_photo}"><span class="iconify fs-20" data-icon="clarity:pencil-solid"></span></a>
                            <a class="btn btn-danger col mx-1" href="deleteuser.htm?id=${user.id}"><span class="iconify fs-20" data-icon="bi:trash-fill"></span></a>
                        </div>
                    </td>
                </tr>
            
        </tbody>
    </table>
    </div>
  </div>
</section>
<!-- Call to action-->
<section class="page-section bg-dark text-white">
  <div class="container px-4 px-lg-5 text-center">
    <h2 class="mb-4">Los tiquetes más baratos que encontrarás!</h2>
    <a class="btn btn-light btn-xl" href="/buy-tickets">Compralos ahora!</a>
  </div>
</section>
{% endblock %}
